.btn1
{
    right: 0;
    margin-left: 19px;
    margin-right: 116px;
    width: 150px;
    background-color: blue;
    color: white;
    margin-top: -58px;
    height: 50px;
}
.box
{
    width: 100%;
    height: auto
    text-align: center;
    background-color: #3858e9;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
}
.heading1
{
    font-size: 18px;
    font-weight: 400;
    color:white;
}
.caption
{
    font-size: 100px;
    font-family: "EB Garamond", serif;
    font-weight:200;
    color: rgb(30, 30, 30);
    
    
    
}
.title1{
    
   
    height: auto;
    
}
.btn 
{
    background-color: #3858e9 ;
    border-radius: 0px;
    font-size: 18px;
    width: 180px;
    height: 50px;
    text-align: center;
    
}
.btn:hover
{
    background-color: #0727b9;
}
.box2
{
   width: 100%;
    height: 50px;
    background-color: #eff2ff;
    text-align: center;
    margin-top: 120px;
    font-size: 12px;
}
.image
{
    width: 100%;
    height: auto;
    background-image: url("https://wordpress.org/files/2022/08/Editor.webp");
   
}
.center-para
{
    width:40%;
    height: 200px;

}
.box3
{
   background-color: rgb(239, 242, 255);
    width: 100%;
    height: auto;
}
.bg
{
    background-color: rgb(239, 242, 255); 
    height: 700px;
}
.heading2
{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.box3
{
    width: 100%;
    height:500px;
}
.heading3
{
    font-size: 45px;
    
    font-weight:200;
    color: rgb(30, 30, 30);
    
   
    color: white;
    
}
.img-bg
{
    width: 60%;
    height: 50%;
}
.btn{
    top: 10px;
    font-size: medium;
}
.img-bg2
{
    width: 100%;
    object-fit: cover;
}
.bg1
{
    background-color: #3858e9;
    max-height: max-content;
    width: 100%;
}
.link-sec
{
    color: white;

}
.link-sec:hover
{
    color: white;
    text-decoration: underline;
}
.bg2
{
    width: 100%;
    height: 700px;
    background-color:#3858e9 ;
}
.footer-link
{
    text-align: left;
    text-decoration: none;
    color: white;
    list-style: none;
}
.log
{
    position: relative;
    left: 60px;
}